<div id="<%= dom_id movement %>">
  <p>
    <strong>Name:</strong>
    <%= movement.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= movement.amount %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= movement.kind %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= movement.category_id %>
  </p>

  <p>
    <strong>Entrance:</strong>
    <%= movement.entrance_id %>
  </p>

</div>
